<p>{{encodingText}}</p>
<h4>Read By {{encodingVoice}}</h4>
<mat-card>
  <div class="loading-message">
      <mat-spinner diameter="24"></mat-spinner>
      <h4 *ngIf="generatingEncoding">Generating encoding...</h4>
  </div>
  <vg-player [hidden]="generatingEncoding" class="videogular-container audio" (onPlayerReady)="onPlayerReady($event)">
    <audio #myMedia [vgMedia]="myMedia" [vgMaster]="true" media id="singleVideo" preload="auto" controls>
      <source *ngFor="let audio of sources" [src]="audio.src" type="audio/mpeg">
    </audio>
  </vg-player>
</mat-card>