<mat-horizontal-stepper [linear]="true" (selectionChange)="onStepChange($event)" #stepper>
  <mat-step>
    <ng-template matStepLabel>Enter Text</ng-template>
    <app-text></app-text>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Paint Text</ng-template>
    <app-control></app-control>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Choose Voice</ng-template>
    <app-voices></app-voices>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Playback</ng-template>
    <app-encoding></app-encoding>
  </mat-step>
</mat-horizontal-stepper>