mat-card-content.container {
	position: relative;
	padding-bottom: 300px;
}

.indicator {
	position: absolute ;
	z-index: 2 ;

	&__cta {
		top: -20px ;
		left: 50% ;
		position: absolute ;
	}

	&__cta-link {
		background-color: #ffffff ;
		border-radius: 5px 5px 5px 5px ;
		top: 50px ;
		box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
		color: #2e2e2e ;
		cursor: pointer ;
		left: 0px ;
		padding: 11px 22px 10px 22px ;
		position: absolute ;
		transform: translateX( -50% ) ;

		&:after {
			top: -15px ;
			font-size: 15px ;
			left: 50% ;
			line-height: 15px ;
			content: "▼" ;
			color: #ffffff ;
			position: absolute ;
			transform: translateX( -50% ) ;
			transform: rotate(180deg);
		}

		mat-radio-button {
			padding-bottom: 20px;
			display: block;
		}

		.slider-wrapper {
			flex-direction: row;
			display: flex;

			.slider-min, .slider-max {
				flex: 20%;
				text-align: center;
				line-height: 48px;
			}
		}

		.tag-buttons {
			flex-direction: row;
			display: flex;
			padding-top: 20px;

			button {
				flex: 50%;
			}
		}
	}
}