.eraserColor {
    width: 100%;
    height: 2px;
    background-color: white;
}

.breakColor {
    width: 100%;
    height: 2px;
    background-color: #e07575;
}

.emphasisColor {
    width: 100%;
    height: 2px;
    background-color: #9175e0;
}

.prosodyColor {
    width: 100%;
    height: 2px;
    background-color: #c9e075;
}

.prosody {
    height: 260px;
}

.prosodyCard {
    width: 30%;
    float: left;
}

.mat-card.example-card {
    width: calc(100% - 50px);
    margin: 25px auto;
    padding-bottom: 20px;
  
    &.fxClass-xs,
    &.fxClass-sm {
      width: calc(100% - 20px);
      margin: 10px auto;
    }
  
    app-calendar {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

button {
    border: none;
    background: transparent;
}

button.play {
    position: relative;
    float: right;
}

button :hover {
    color: rgb(95, 24, 153);
}